$main-black: #171a18;
$main-light: #cfd0d1;
$accent: #2dffc4;

// FONT SCALES
/* 
  48.83px;
  39.06px;
  31.25px;
  25.00px;
  20.00px;
  16.00px;
  12.80px;
  10.24px;
*/

.works {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .container {
    max-width: 120rem;
    padding: 3rem 5rem;
    margin: 4rem;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 21px 6px rgba($main-light, 0.62);
    -moz-box-shadow: 0px 0px 21px 6px rgba($main-light, 0.62);
    box-shadow: 0px 0px 21px 6px rgba($main-light, 0.62);

    @media (max-width: 75em) {
      padding: 2rem;
    }
  }

  .description {
  }

  h1 {
    font-size: 3.125rem;
  }

  p {
    font-size: 1.6rem;

    span {
      letter-spacing: 1px;
    }
  }
}
