// Colors
$main-black: #171a18;
$main-light: #cfd0d1;
$accent: #2dffc4;

// FONT SCALES
/* 
  48.83px;
  39.06px;
  31.25px;
  25.00px;
  20.00px;
  16.00px;
  12.80px;
  10.24px;
*/

// BORDER RADIUS
// border-radius: 6px;

.cards {
  margin-top: 4rem;

  h2 {
    font-size: 2.5rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 2.4rem;
  }
}
